%h1 Steps
%h2 Component
%p Note: upcoming steps that are neither :visited nor :active are :disabled by default

= ui.bootstrap :steps do
  = ui.bootstrap :step, :visited, step: 1, body: 'Donation', href: '#back'
  = ui.bootstrap :step, :active, step: 2, body: 'Your Info'
  = ui.bootstrap :step, step: 3, body: 'Payment'
  = ui.bootstrap :step, icon: 'check', body: 'Receipt'
