%wrapper.footer
  %row
    %columns
      %center
        %menu
          = render partial: "bootstrap4_rails_components/email/social_network_link", locals: { social_network: :facebook, icon_size: 15 }
          = render partial: "bootstrap4_rails_components/email/social_network_link", locals: { social_network: :twitter, icon_size: 16 }
          = render partial: "bootstrap4_rails_components/email/social_network_link", locals: { social_network: :linkedin, icon_size: 16 }
          = render partial: "bootstrap4_rails_components/email/social_network_link", locals: { social_network: :youtube, icon_size: 18 }
  %row
    %columns
      %center
        %p
          %small
            = t 'bootstrap4_rails_components.email.company.address'
      %spacer{ size: spacer(:quadruple) }
